.related {
    border-bottom: 10px solid #1c1c1c;
    padding-bottom: 5px;
}

h4{
    margin-block-start: 0;
    margin-block-end: 0;
}

.related__list {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}
ul {
    padding-inline-start: 0;

}

.related__list-item {
    list-style-type: none;
    width: 50%;
    margin-bottom: 25px;
    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.related__list-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #F3EBA2;
}

.related__list-date {
    font-size: 12px;
    font-weight: 300;
    color: #828282;
}

